$oec-blue-10: #E9ECEE;
$oec-blue-20:#D2D8DE;
$oec-yellow-20: #FFFAEA;
$accent-cool-lighter: #E1F3F8;

body {
  background-color: #FBFCFD;
}

.pill-dropdown {
  display: inline-block;
  position: relative;
  .pill-dropdown-btn {
    padding: 8px 48px 8px 12px;
    border-radius: 4px;
    margin: 0 4px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    background: url(../img/arrow-down-gray-60.svg) 480px center no-repeat;
    background-size: 10px 10px;
    background-color: $accent-cool-lighter;
  }
}

.pill-dropdown-menu {
  list-style: none;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  padding: 0;
  margin: 0;
  a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    &:hover {
      background-color: $oec-blue-10;
    }
  }
}
.pill-dropdown:hover .pill-dropdown-menu {
  display: block;
}

header {
  padding: 8px 24px;
  margin: 0 0 40px 0;
  border-bottom: 1px solid #DFE1E2;
  background-color: #FFFFFF;
}

.usa-logo {
  background: url(../img/logo192.png) left center no-repeat;
  background-size: 36px 36px;
  display: inline-block;
  padding: 8px 0 8px 48px;
  margin: 0;
}

.empty-state {
  border: 1px solid #DFE1E2;
  border-radius: 4px;
  display: block;
  min-height: 480px;
  padding: 80px 0;
  text-align: center;
  background-color: #FFFFFF;
  h2 {
    color: #1E3D59;
    // font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-size: 24px;
  }
  p {
    max-width: 580px;
    margin: 0 auto;
  }
  a {
    color: #005EA2;
    text-decoration: none;
    border-bottom: 1px solid #005EA2;
  }
}
header nav {
  line-height: 42px;
  .pill-dropdown {
    display: inline-block;
    position: relative;
    .pill-dropdown-btn {
      padding: 8px 16px 8px 8px;
      border-radius: 4px;
      margin: 0 8px;
      text-decoration: none;
      border: none;
      cursor: pointer;
      background: url(../img/arrow-down-gray-60.svg) right center no-repeat;
      background-size: 8px 8px;
    }
  }
  .pill-dropdown-menu {
    list-style: none;
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    width: 240px;
    box-shadow: 0 4px 12px 4px rgba(0,0,0,0.15);
    z-index: 1;
    margin: 0;
    padding-top: 12px;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 30px;
      width: 0;
    	height: 0;
    	border: 12px solid transparent;
    	border-bottom-color: #fff;
    	border-top: 0;
    	margin-left: -12px;
    	margin-top: -12px;
    }
    li.text-uppercase {
      padding-left: 24px;
      border-top: 1px solid #ddd;
    }
    a {
      color: black;
      text-decoration: none;
      padding: 0 24px;
      display: block;
      &:hover {
        background-color: $oec-blue-10;
      }
    }
    li:last-of-type a {
      padding-bottom: 12px;
    }
  }
}
