/*
Error: Undefined variable: "$add-list-reset-settings".
        on line 35 of scss/utilities/rules/add-list-reset.scss

30:           "margin-top": "0",
31:           "padding-left": "0",
32:         ),
33:       ),
34:     ),
35:     settings: $add-list-reset-settings,
36:     property: "list-style",
37:     type: "object",
38:   ),
39: );

Backtrace:
scss/utilities/rules/add-list-reset.scss:35
/Users/phoebe/.rvm/gems/ruby-2.1.2/gems/sass-3.4.25/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/phoebe/.rvm/gems/ruby-2.1.2/gems/sass-3.4.25/lib/sass/script/tree/node.rb:58:in `perform'
/Users/phoebe/.rvm/gems/ruby-2.1.2/gems/sass-3.4.25/lib/sass/script/tree/map_literal.rb:53:in `block in _perform'
/Users/phoebe/.rvm/gems/ruby-2.1.2/gems/sass-3.4.25/lib/sass/script/tree/map_literal.rb:52:in `map'
/Users/phoebe/.rvm/gems/ruby-2.1.2/gems/sass-3.4.25/lib/sass/script/tree/map_literal.rb:52:in `_perform'
/Users/phoebe/.rvm/gems/ruby-2.1.2/gems/sass-3.4.25/lib/sass/script/tree/node.rb:58:in `perform'
/Users/phoebe/.rvm/gems/ruby-2.1.2/gems/sass-3.4.25/lib/sass/script/tree/map_literal.rb:53:in `block in _perform'
/Users/phoebe/.rvm/gems/ruby-2.1.2/gems/sass-3.4.25/lib/sass/script/tree/map_literal.rb:52:in `map'
/Users/phoebe/.rvm/gems/ruby-2.1.2/gems/sass-3.4.25/lib/sass/script/tree/map_literal.rb:52:in `_perform'
/Users/phoebe/.rvm/gems/ruby-2.1.2/gems/sass-3.4.25/lib/sass/script/tree/node.rb:58:in `perform'
/Users/phoebe/.rvm/gems/ruby-2.1.2/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:472:in `visit_variable'
/Users/phoebe/.rvm/gems/ruby-2.1.2/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/phoebe/.rvm/gems/ruby-2.1.2/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/phoebe/.rvm/gems/ruby-2.1.2/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/Users/phoebe/.rvm/gems/ruby-2.1.2/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/phoebe/.rvm/gems/ruby-2.1.2/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/Users/phoebe/.rvm/gems/ruby-2.1.2/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/phoebe/.rvm/gems/ruby-2.1.2/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/phoebe/.rvm/gems/ruby-2.1.2/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/phoebe/.rvm/gems/ruby-2.1.2/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/phoebe/.rvm/gems/ruby-2.1.2/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/Users/phoebe/.rvm/gems/ruby-2.1.2/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/phoebe/.rvm/gems/ruby-2.1.2/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/Users/phoebe/.rvm/gems/ruby-2.1.2/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/phoebe/.rvm/gems/ruby-2.1.2/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/Users/phoebe/.rvm/gems/ruby-2.1.2/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/phoebe/.rvm/gems/ruby-2.1.2/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:161:in `visit'
/Users/phoebe/.rvm/gems/ruby-2.1.2/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/phoebe/.rvm/gems/ruby-2.1.2/gems/sass-3.4.25/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/phoebe/.rvm/gems/ruby-2.1.2/gems/sass-3.4.25/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/phoebe/.rvm/gems/ruby-2.1.2/gems/sass-3.4.25/lib/sass/engine.rb:384:in `_render_with_sourcemap'
/Users/phoebe/.rvm/gems/ruby-2.1.2/gems/sass-3.4.25/lib/sass/engine.rb:301:in `render_with_sourcemap'
/Users/phoebe/.rvm/gems/ruby-2.1.2/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/phoebe/.rvm/gems/ruby-2.1.2/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/phoebe/.rvm/gems/ruby-2.1.2/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `each'
/Users/phoebe/.rvm/gems/ruby-2.1.2/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/phoebe/.rvm/gems/ruby-2.1.2/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:294:in `watch'
/Users/phoebe/.rvm/gems/ruby-2.1.2/gems/sass-3.4.25/lib/sass/plugin.rb:109:in `method_missing'
/Users/phoebe/.rvm/gems/ruby-2.1.2/gems/sass-3.4.25/lib/sass/exec/sass_scss.rb:360:in `watch_or_update'
/Users/phoebe/.rvm/gems/ruby-2.1.2/gems/sass-3.4.25/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/phoebe/.rvm/gems/ruby-2.1.2/gems/sass-3.4.25/lib/sass/exec/base.rb:52:in `parse'
/Users/phoebe/.rvm/gems/ruby-2.1.2/gems/sass-3.4.25/lib/sass/exec/base.rb:19:in `parse!'
/Users/phoebe/.rvm/gems/ruby-2.1.2/gems/sass-3.4.25/bin/sass:13:in `<top (required)>'
/Users/phoebe/.rvm/gems/ruby-2.1.2/bin/sass:26:in `load'
/Users/phoebe/.rvm/gems/ruby-2.1.2/bin/sass:26:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$add-list-reset-settings\".\A         on line 35 of scss/utilities/rules/add-list-reset.scss\A \A 30:           \"margin-top\": \"0\",\A 31:           \"padding-left\": \"0\",\A 32:         ),\A 33:       ),\A 34:     ),\A 35:     settings: $add-list-reset-settings,\A 36:     property: \"list-style\",\A 37:     type: \"object\",\A 38:   ),\A 39: );"; }
